---
import RootLayout from '../layout/RootLayout.astro';
import HeroSection from '../section/HeroSection.astro';
import FeaturedPosts from '../section/FeaturedPosts.astro';
import NewestPosts from '../section/NewestPosts.astro';
import DiscoverTopics from '../section/DiscoverTopics.astro';
import OurRecommendation from '../section/OurRecommendation.astro';
import CtaBlog from '../section/CtaBlog.astro';
import Tranding from '../section/Tranding.astro';
---
<RootLayout>
  <head slot='head'>
    <!-- SEO Config -->
  </head>
  
  <main slot='body'>
	<HeroSection />
	<FeaturedPosts />
	<NewestPosts />
	<DiscoverTopics />
	<OurRecommendation />
	<CtaBlog />
	<Tranding />
  </main>
</RootLayout>
